@*@model IEnumerable<PetSitter.Models.User>
*@
@model IEnumerable<PetSitter.ViewModels.SitterVM>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@*<div class="text-center">
    
*@   



    <div class="wrapper">
        <div class="container storeTitle">
        <div class="row flex-column-reverse flex-lg-row webBriefDescription">
            <div class="col-lg-4 text-center">
                <h1 class="display-4" id="h1-pet">Find your best friend's new best friend.</h1>
                <p>Join the quickly growing community of PetSitters!</p>
                <a class="btn" asp-area="" asp-controller="Booking" asp-action="FindASitter">Find a pet sitter</a>
                
                </div>
            <div class="col-lg-8 ">

                <img class="petsitterBrief" src="~/images/petsitter-image.jpg" alt="petsitter">
            </div>
        </div>
        </div>

        <img class="adv" src="~/images/HUFFPOST.svg" alt="HUFFPOST">

    <hr class="mt-4">


        <div class="howItWorks">
            <h1>How it works</h1>
            <div class="PicHowItWorks">
            <img class="PicHowItWorksimg" src="~/images/WashingandGrooming_puppybathtime.jpg" alt="petsitter">
            </div>
  
            <ol class="wayOfHowItWorks">
                <li>
                <legend>Register for an account</legend>
                    <p>Pet sitter or pet parent, you first need an account! Sign up now!</p>
                </li>

                <li>
                <legend>Browse sitters in your area</legend>
                    <p>Compare pet sitters and prices near you, then choose!</p>
                </li>
                <li>
                <legend>Hire the best pet sitter</legend>
                    <p>Schedule a span of time with the petsitter of your choice and you're good to go. It's that easy.</p>
                </li>

            </ol>
        <a class="btn getStartedbtn" asp-area="" asp-controller="Booking" asp-action="FindASitter">Get Started</a>
        
        </div>

    <hr class="mt-4">


        <div class="wayToHireacceptProfessionalCleaner">

            <h1>A new way to care for your pets</h1>
         <div class="hireAProfessionalCleaner">
            <div class="medialocation">

                <img class="locationpic item-a" src="~/images/location.svg" alt="location picture">
                <div>
                <h2 class="item-b">Local pet sitters near you</h2>
                <p class="item-c">With a quickly growing community, you'll find what you need.</p>
                </div>
            </div>
            <div class="mediaHireYouTerm">

                <img class="HireYouTerm item-d" src="~/images/HireYouterm.svg" alt="Hire you term">
                <div>

                <h2 class="item-e">Hire on your own terms</h2>
                <p class="item-f">Choose a pet sitter who fits your schedule and pay them directly.</p>
                 </div>
             </div>

            <div class="mediaPersonalized">
                <img class="Personalized item-g" src="~/images/PersonalizedPetSitting.png" alt="Personalize Pet Sitting">
                <div>
                <h2 class="item-h">Personalized pet sittting</h2>
                <p class ="item-i">Contact your chosen pet sitter and personalize your pet's experience</p>
                </div>
            </div>


        </div>
        </div>

                    <hr class="mt-4">

        <div class="container mx-auto">
            <h1 class="text-center">Top pet sitters</h1>

        <div class="row">

           @if (Model.Any())
           {

                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 h-100">
                            <div class="card-body">
                                <div style="display: flex; align-items: center;">
                                    @if (item.ProfileImage == null)
                                    {
                                        <div style="width: 50px; height: 50px; border: 2px solid black; border-radius: 50%; margin-right: 10px;"></div>
                                    }
                                    else
                                    {
                                        <img style="width: 50px; height: 50px; border: 2px solid black; border-radius: 50%; margin-right: 10px;" src="data:image/png;base64,@Convert.ToBase64String(item.ProfileImage)" alt="User Profile Image" />
                                    }
                                    <div class="d-flex flex-column justify-content-start align-items-start">
                                        <h5 class="card-title" style="margin: 0; text-align: center;">@Html.DisplayFor(modelItem => item.FirstName)</h5>
                                        <small class="text-muted">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (i <= item.AvgRating)
                                            {
                                                <i class="fas fa-star text-warning"></i>
                                            }
                                            else
                                            {
                                                <i class="far fa-star"></i>
                                            }
                                        }
                                   
                                </small>    
                                 </div>
                                </div>

                            


                                <p class="card-text">@Html.DisplayFor(modelItem => item.ProfileBio)</p>
@*                                <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => item.startDate) - @Html.DisplayFor(modelItem => item.endDate)</small></p>
*@                            
   
                               </div>
                        <div class="card-footer d-flex justify-content-between flex-wrap">
                             <span><span class="price" style="color:red" >$@Html.DisplayFor(modelItem => item.Rate)</span> per day</span>

                                  <div class="more-info-link">
                                         <a asp-controller="Booking" asp-action="SitterDetails" asp-route-sitterID="@item.SitterId" class="link-light"><button class="mx-auto">View profile</button></a>
                                  </div>
                        </div>
                    </div>
                </div>
                }
            }

            else
            {
                <p>No sitters found.</p>
            }
        </div>


        </div>

            <hr class="mt-4">


        <div class="FindPetSitter">
            <h1>Ready to find a pet sitter ?</h1>
        <a class="btn" asp-area="" asp-controller="Booking" asp-action="FindASitter">Find a pet sitter now</a>

        </div>

    </div>